{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    ["module-resolver",{
      "root": ["./src"],
      "alias": {
        "@": "./src"
      }
    }]
  ],
  // Enable node for Jest
  // https://vue-test-utils.vuejs.org/ja/guides/testing-single-file-components-with-jest.html
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ],
      "plugins": ["istanbul"]
    }
  }
}
